@font-face {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  src: url("../impact.ttf");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
  background-color: lightgrey;
}
.general-container {
  background-color: #fff;
  width: 550px;
  margin: 20px auto;
}
.header-container {
  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 37px 12px 20px;
}
.header-img {
  width: 31px;
}
.header-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2.075px;
  margin-left: 10px;
  margin-right: auto;
}
.header-desc {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

.form-container {
  padding: 36px;
}
.form-input-container {
  display: flex;
  gap: 20px;
}

input {
  width: 100%;
  padding: 10px 11px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  color: #0d0d0d;
  font-family: Karla;
  font-size: 12px;
  font-weight: 400;
}

.form-cta {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1.6px;
  border-radius: 5px;
  background: linear-gradient(135deg, #711f8d 0%, #a818da 100%);
  padding: 10px 11px;
}

.meme-image {
  width: 100%;
}
